<header class="header">
  <div class="team-block left" id="team1-block">
    <div class="team-logo" id="team1-logo"></div>
    <div class="team-inline">
      <div class="team-name" id="team1-name">Team 1</div>
      <div class="pick-indicator" id="pick-left"></div>
    </div>
  </div>
  <div class="center-block">
    <div class="score-row">
      <div class="score-box" id="score-team1">0</div>
      <div class="match-meta" id="match-meta">
        <div class="match-meta-content" id="match-meta-content">
          <img class="match-logo" id="match-logo" alt="match-logo" />
          <div class="match-name" id="match-name">-</div>
        </div>
      </div>
      <div class="score-box" id="score-team2">0</div>
    </div>
    <div class="picking-text" id="picking-text">-</div>
  </div>
  <div class="team-block right" id="team2-block">
    <div class="team-inline">
      <div class="team-name" id="team2-name">Team 2</div>
      <div class="pick-indicator" id="pick-right"></div>
    </div>
    <div class="team-logo" id="team2-logo"></div>
  </div>
</header>
